
a:hover,a:focus,a:active,.social-icons i:hover,.twitter_tweet i,.twitter_tweet p,#ajaxsuccess,
.navbar-custom .navbar-nav>.active>a, .navbar-custom .navbar-nav>.active>a:hover, .navbar-custom .navbar-nav>.active>a:focus,
.navbar-custom .navbar-nav>.open>a, .navbar-custom .navbar-nav>.open>a:hover, .navbar-custom .navbar-nav>.open>a:focus,
.navbar-custom .navbar-nav>li>a:hover, .navbar-custom .navbar-nav>li>a:focus,
.navbar-custom .navbar-nav>li>a:hover,
.md-content h5 {
	color: #1f7f5c;
}
.btn-custom,.btn-custom-sm,.back-to-top{
	background-color: #1f7f5c;
}
.form-control:focus,.btn-custom,.btn-custom-sm {
	border-color: #1f7f5c;
}
.titleHR span {
	background: none repeat scroll 0 0 #1f7f5c; 
}